.form_global {
    border: 1px solid #E2E2E2;
    background: #fff;
    height: 38px;
    padding : 8px 15px;
    resize: none;
    font-size: 12.63px;
    font-weight: bold;
    border-radius: 5px;
    color: #020202;
    width: 100%;
    position: relative;
    
    &::placeholder {
        font-size: 12.63px;
        font-weight: 500;
        color: #020202;
    }
    &:focus{
        outline: 0;
        box-shadow: none;
        &::placeholder {
            color: transparent;
        }
    }
}
.form_row_inline {
    font-size: 13px;
    font-weight: 400;
    position: relative;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    label {
        width: 100px;
        min-width: 100px;
        padding-right: 10px;  
        color: $theme_color;
        font-weight: bold;
        font-size: 12.63px; 
    }
    small {
        max-width:100%;
        flex: 0 0 100%;
    }
    textarea.form_global {
        height: auto;
    }
    .file_input {
        width: 100%;
    }
    .error-div {
        padding-left: 100px;
        max-width:100%;
        flex: 0 0 100%;
        position: absolute;
        bottom: -12px;
    }
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    > label {
        padding-bottom: 10px;
        min-height: 28px;
        color: $theme_color;
        font-weight: bold;
        font-size: 14px;
    }
    textarea.form_global {
        height: auto;
    }
    .file_input {
        position: relative;
        .form_global {
            // // opacity: 0;
            // left: 0;
            // top: 0;
            // position: absolute;
            // width: 100%;
            // height: 100%;
            // z-index: 6;
            // cursor: pointer;
            background: #F8F8F8;
            cursor: pointer;
        }
        > span {
            position: absolute;
                right: 0;
                top: 0;
                width: 70px;
                height: 100%;
                border-left: 1px solid $border_color;
                @include d_flex_center;
                cursor: pointer;
        }
    }

}
textarea.form_global {
    height: auto;
}
/*----------------------------
    CUSTOM CHECKBOX
-----------------------------*/

.form_checkbox {
    display: inline-block;
    position: relative;
}

.form_checkbox [type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.form_checkbox label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 0;
    line-height: initial;
    padding-right: 15px;
    font-size: 12.63px;
    display: flex;
    min-height: 20px;
    color: #020202;
    white-space: nowrap;
}

.form_checkbox [type="checkbox"]:checked+label:before,
.form_checkbox [type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 1px;
    width: 15px;
    height: 15px;
    border : 1px solid #BDC7CF;
    border-radius: 3px;
    background: #F6FBFF;
}

.form_checkbox [type="checkbox"]:not(:checked)+label:after,
.form_checkbox [type="checkbox"]:checked+label:after {
    position: absolute;
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 4px;
    width: 6px;
    height: 10px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    // background: #EDF7FF;
    content: '';
    position: absolute;
    transition: all .2s;
    border-radius: 3px;
}

.form_checkbox [type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
}
.form_checkbox [type="checkbox"]:disabled+label:after {
    opacity: .5;
}

/*----------------------------
    CUSTOM RADIO
-----------------------------*/
.form_radio {
    display: inline-flex;
    position: relative;
    padding: 4px 0px;
}

.form_radio [type="radio"] {
    position: absolute;
    left: -9999px;
}
.form_radio label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 0;
    line-height: initial;
    padding-right: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    min-height: 24px;
    color: $color_main;
    white-space: nowrap;
}
.form_radio [type="radio"] + label:before, 
.form_radio [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    z-index: 0;
    transition: .28s ease;
    border-radius: 50%;
}

.form_radio [type=radio]:checked + label:after {
    border: 2px solid $border_color2;
    background-color: $border_color2;
    z-index: 0;
    transition: .28s ease;
}
.form_radio [type="radio"]:not(:checked) + label:before, 
.form_radio [type="radio"]:not(:checked) + label:after {
    border: 1px solid $border_color2;
}

//CUSTOM FORM RADIO

.custm_form_radio {
    display: flex;
    position: relative;
    padding: 4px 0px;
}

.custm_form_radio [type="radio"] {
    position: absolute;
    left: -9999px;
}
.custm_form_radio label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 0;
    line-height: initial;
    padding-right: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    min-height: 24px;
    color: $color_main;
    white-space: nowrap;
}

.custm_form_radio [type="radio"] + label:before, 
.custm_form_radio [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    z-index: 0;
    transition: .1s ease;
    border-radius: 50%;
}

.custm_form_radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    z-index: 0;
    transition: .1s ease;
    border-radius: 50%;
    border: 2px solid $border_color2;
}

.custm_form_radio [type="radio"]:not(:checked) + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    z-index: 0;
    transition: .1s ease;
    border-radius: 50%;
}

.custm_form_radio [type=radio]:checked + label:before {
    border: 2px solid $border_color2;
    background-color: $border_color2;
    z-index: 0;
    transition: .1s ease;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 6px;
}

.custm_form_radio [type=radio]:checked + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    z-index: 0;
    transition: .1s ease;
    border-radius: 50%;
    border: 2px solid $border_color2
}


/*-------------------------------
   READ ONLY AND DISABLED FORM
--------------------------------*/
input:read-only,
input:read-only:focus {
    background-color: #ebebe4;
    opacity: .6;
    cursor: not-allowed;
    box-shadow: none;
}
input:disabled,
input:disabled:focus {
    background-color: #ebebe4;
    opacity: .6;
    cursor: not-allowed;
    box-shadow: none;
}
select.form_global:disabled,
select.form_global:disabled:focus {
    display: block;
    width: 100%;
    border: 0;
    background-color: #ebebe4;
    border: 1px solid #999;
    padding: 2px 5px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 0;
    -webkit-border-radius: 0;
    height: calc(9px + 15px);
    appearance: none;
    position: relative;
    cursor: not-allowed;
}
textarea:read-only,
textarea:read-only:focus {
    background-color: #ebebe4;
    opacity: .6;
    cursor: not-allowed;
    box-shadow: none;
}

/*-------------------------------
   SELECT 2 FORM PLUGIN
--------------------------------*/
.select2-selection.select2-selection--multiple {
    outline: 0!important;
    border: 1px solid $border_color2!important;
    border-radius: 0!important;
    height: 24px!important;
    min-height: 24px!important;
}
.select2-selection__choice {
    margin-right: 5px!important;
    margin-top: 2px!important;
    padding: 0 5px!important;
}

/*----------------------------
    ERROR FORM
-----------------------------*/
.required {
    position: relative;
}
.required:after {
    content: '*';
    margin-left: 3px;
    color: $color_danger;
    font-size: 12px;
}
.has_error {
    position: relative;
}
.has_error {
    > label {
        color: $color_danger;
    }
}
.has_error small {
    color: $color_danger;
    position: relative;
    top: 3px;
}
.text-danger {
    color: $color_danger;
}
.has_error  {
    input.form_global ,
    select.form_global ,
    textarea.form_global,
    input.form_global:focus ,
    select.form_global:focus ,
    textarea.form_global:focus {
        border: 1px solid $color_danger; 
        color: $color_danger;       
    }
}
.text_danger {
    color: $color_danger;
    font-weight: 500; 
}
.has_error .custom_radio label {
    color : $color_danger;
}

.has_error .custom_radio label::before {
    border: 1px solid $color_danger;
}
.has_error .custom_radio input[type="radio"]:checked ~ label::before {
    border: 1px solid $color_danger;
}
.has_error .custom_radio input[type="radio"]:checked ~ label::after {
    background: $color_danger;
    border: 2px solid $color_danger;
}

.has_error .custom_checkbox label {
    color : $color_danger;
}
.has_error .custom_checkbox [type="checkbox"]:checked + label:before, 
.has_error .custom_checkbox [type="checkbox"]:not(:checked) + label:before {
   border: 1px solid $color_danger; 
}
.has_error .custom_checkbox [type="checkbox"]:checked + label:after, 
.has_error .custom_checkbox [type="checkbox"]:not(:checked) + label:after {
   color : $color_danger; 
}



/*----------------------------
    PLACEHOLDER FONT SIZE
-----------------------------*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
}


.form_date_picker {
    background-color: white !important;
    cursor: pointer !important;
    opacity: 1 !important;
}

.dropzone {
    padding: 15px!important;
}
.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 5px!important;
}

.dropzone .dz-preview .dz-details {
    padding: 10px!important;
}
.dropzone .dz-preview {
    margin: 0!important;
    min-height: auto;
    max-height: 120px!important;
}

.vue-dropzone>.dz-preview .dz-remove {
    padding: 5px!important;
    border: 1px solid #fff!important;
    font-size: 8px!important;
}

.multiselect {
    position: relative;
}

.multiselect__tags-wrap {
    position: absolute;
    width: 100%;
    z-index: 5;
    background: #fff;
    height: 30px;
    left: 1px;
    width: calc(99% - 2px);
    top: 2px;
    padding: 8px 0px!important;
    .multiselect__tag {
        padding-right: 20px;
        padding-left: 8px;
        position: relative;
        i {
            position: absolute;
            top: 0;
            right: 5px;
            z-index: 10;
            &:after {
                content: "✕";
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}
.multiselect__input {
    display: block;
    width: 100%!important;
    height: 35px;
    padding: 3px 8px!important;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #6e6b7b !important;
    background-color: #ffffff;
    border: 1px solid $border_color2;
    border-radius: 0.25rem;
    position: relative;
    transition: all 0.15s;
    position: relative!important;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid $color_info;
        padding-left: 13px!important;
    }
}
.multiselect__placeholder {
    display: none!important;
}
.multiselect__content {
    width: 100%;
    span {
        width: 100%;
        display: block;
    }
}

.common_calender {
    .vc-weeks {
        padding: 0!important;
        > div {
            border: .5px solid $border_color;
        }
        .vc-day {
            text-align: center;
            padding: 5px;
            min-height: 60px;
            p {
                padding: 5px 10px;
                background: $color_secondary;
                margin-bottom: 0;
                color: #fff;
            }
        }
    }
}


.dp__main  > span {
    display: none;
}

.common_calender .vc-weeks>div {
    border: 0.5px solid $border_color2;
}
.fr-box.fr-basic {
    padding: 10px 15px;
}


.form_list_input {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 4px 0px;
        li {
            padding: 3px;
            span {
                background: #ededed;
                height: 30px;
                width: 30px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}


.custom_fraction_input {
    display: flex;
    align-items: center;
    .form_global {
        margin-bottom: 15px;
    }
    .inner {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        .custom_border {
            border: 1px solid #000;
            margin-bottom: 15px;
        }
        &:nth-of-type(2) {
            flex-direction: column;
            display: flex;
        }
        &.full_width {
            width: 100%;
        }
        &.width_center_half {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            @include mobile {
                width: 60%;
            }
        }
    }
}

.img_preview {
    width: 150px;
    position: relative;
    overflow: hidden;
    margin: 20px 0px;
    cursor: pointer;
    &:hover {
        .close {
            top: 5px;
            right: 5px;
        }
    }
    .close {
        position: absolute;
        top: -15px;
        right: -15px;
        z-index: 2;
        color: #fff;
        transition: all .3s;
    }
    img {
        width: 100%;
    }
}