
// FONT FAMILY
// $font_main: 'Montserrat', sans-serif;
$font_main: 'SUIT';
$color_main: #1E1E1E;
$color_white: #ffffff;
$theme_color: #000;
$border_color : #ECECEC;;
$border_color2 : #ECECEC;

$bg_type_2 : #F2F5FA;

// $border_color : #ebe9f1;
$color_info : #85b7db;
$color_info_hover : #9ac3e1;
$color_success : #364eb3;
$color_success_hover : #364eb4;
$color_warning : #dd6c00;
$color_warning_hover : #eb7c12;
$color_danger : #c52829;
$color_danger_hover : #e92223;
$color_black : #131628;
$color_black_hover : #000000;
$color_secondary : #E0E0E0;
$color_secondary_hover : #cbcbcb;


// COLORbrand 
$main_bg: #f8f8f8;
$nav_bg: $color_white;
$menu_bg: #1e1e2d;
$active_bg : #EBEDF2;
$dropdown_bg : $color_info;

$hover_color: #f0f1f7;
$disabled_color : #d0d0d0;
$yellow_color : #FFE175;
$lightyellow_color : #FFF4D9;
$blue_color : #00B4FF;

// FONT SIZE
$font_12px : 12px;
$font_14px : 14px;
$font_16px : 16px;